<nav
  style="
    text-align: right;
    margin: 20px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
  "
>
  <a
    href="/"
    style="
      margin-left: 20px;
      color: #fff;
      text-decoration: none;
      transition: 0.2s;
    "
    >Home</a
  >
  <a
    href="/projects"
    style="
      margin-left: 20px;
      color: #fff;
      text-decoration: none;
      transition: 0.2s;
    "
    >Projects</a
  >
  <a
    href="/blog"
    style="
      margin-left: 20px;
      color: #fff;
      text-decoration: none;
      transition: 0.2s;
    "
    >Blog</a
  >
  <a
    href="/resume"
    style="
      margin-left: 20px;
      color: #fff;
      text-decoration: none;
      transition: 0.2s;
    "
    >Resume</a
  >
</nav>

<style>
  nav a:hover {
    color: rgb(16, 189, 189); /* bright blue on hover */
    text-decoration: underline; /* subtle underline for feedback */
  }
</style>
